@media screen and (min-width: 768px) {
  /***********************
  HEADING
  ***********************/
  
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }

  /***********************
  HEADER
  ***********************/  
  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

    header {
    border-bottom: 5px solid  #007fa8;
    margin-bottom: 60px;
  }
  
  
  /***********************
  PAGE: PORTFOLIO
  ***********************/
    #gallery li:nth-child(2n+1) {
    clear: none;
  }  

  #gallery li {
    width: 28.3333%;
  }
  
  #gallery li:nth-child(3n+1) {
    clear: left;
  }

  
  /***********************
  PAGE: ABOUT
  ***********************/
  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
    

  
}



@media screen and (min-width: 1024px) {

  /***********************
  HEADER
  ***********************/  
    
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.25em;
  }
  
}

@media only screen and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  
  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 3em;
  }

footer {
  font-size: 2.25em;
}

.social-icon {
  width: 60px;
  height: 60px; 
}

#gallery p {
  font-size: 2.25em;
}